<ion-view class="layouts-view">
	<ion-nav-bar>
	  <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
	    <button menu-toggle="right" class="button button-icon icon ion-plus" ui-sref="app.nuevoProducto"></button>
	  </ion-nav-buttons>
	  <ion-nav-title>
	    <span class="font-light">Productos</span>
	  </ion-nav-title>
	</ion-nav-bar>
  <ion-content>
    <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Buscar" ng-model="pc.buscar">
	    </label>
	  </div>
	  <ion-list can-swipe="pc.listCanSwipe">
		  <ion-item ng-repeat="producto in pc.productos | filter:pc.buscar" ui-sref="app.verProducto({productoId : producto._id})">
		    <h2>{{producto.nombre}}</h2>
		    <p>{{producto.descripcion}}</p>
		    <p>{{producto.unidad.nombre}}</p>
		    <p>{{producto.precio | currency}}</p>
		    <ion-option-button class="button-info" ui-sref="app.editarProducto({productoId : producto._id})">
		      Editar
		    </ion-option-button>
		    <ion-option-button class="button-assertive" ng-click="pc.eliminar(producto)">
		      Eliminar
		    </ion-option-button>
		  </ion-item>
		</ion-list>
  </ion-content>
</ion-view>