<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-plus" ui-sref="app.nuevoAcuerdo"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="font-light">{{ 'ACUERDOS' | translate}}</span>
  </ion-nav-title>
  <div class="bar bar-subheader menuSuperior" style="height: {{ac.deviceWidth / 1.5}}px;">
	  <a class="button hoy" ng-click="ac.cambiarFiltro('hoy')"> 
	  	<i class="fa fa-check" style="font-size: 50pt; color: white; margin-top:10px;"></i><br/>
	  	<div style="font-size: 20pxpt; color: white; margin: -10px 0px 0px 0px; ">{{ac.hoy.length}}</div>
	  	<div style="font-size: 12pt; color: white; margin: -5px 0px 0px 0px; ">{{ 'HOY' | translate }}</div>
	  </a>
	  <a class="button semana" ng-click="ac.cambiarFiltro('semana')">
		  <i class="fa fa-calendar-o" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/>
		  <div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{ac.semana.length}}</div>
		  <div style="font-size: 9pt; color: white; margin: -15px 0px 0px 0px;">{{ 'SEMANA' | translate }} </div>
		</a>
	  <a class="button mes" ng-click="ac.cambiarFiltro('mes')">
	  	<i class="fa fa-calendar" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/> 
	  	<div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{ac.mes.length}}</div>
	  	<div style="font-size: 8pt; color: white; margin: -15px 0px 0px 0px">{{ 'MES' | translate }} </div>
	  </a>
	  <a class="button proxima" ng-click="ac.cambiarFiltro('todas')"> 
	  	<i class="fa fa-calendar" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/>
	  	<div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{ac.acuerdos.length}}</div>
	  	<div style="font-size: 8pt; color: white; margin: -15px 0px 0px 0px">{{ 'TODAS' | translate }} </div>
	  </a>
	  <a class="button futuro" ng-click="ac.cambiarFiltro('futuro')"> 
	  	<i class="fa fa-calendar-plus-o" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/>
	  	<div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{ac.futuro.length}}</div>
	  	<div style="font-size: 8pt; color: white; margin: -15px 0px 0px 0px">{{ 'FUTURO' | translate }} </div>
	  </a>
	  <button style="width: 0px; height: 0px;" ng-show="false"></button>
	</div>
  <ion-content style="margin-top:65%;">
  	<div class="divider-title">{{ 'VENCIDAS' | translate }}</div>
    <ul class="timeline" id="vencidos" ng-show="ac.fvencidos">
      <li ng-repeat="acuerdo in ac.vencidos | orderBy:'fecha'">
      	<a ng-click="ac.detalleAcuerdo(acuerdo)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-red timeline-icon">
            <i class="ion-close-round text-white" aria-hidden="true"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light" style="margin-bottom: 5px;">{{acuerdo.titulo}}</h4>
            <p class="descripcionLista font-light">{{acuerdo.descripcion}}</p>
            <div class="timeline-stats">
	            <i class="ion-person-stalker"></i> {{acuerdo.responsables.length}}
              <i class="ion-android-people"></i> {{acuerdo.seguidores.length}}
              <i ng-if="acuerdo.owner == currentUser._id" class="ion-ios-circle-filled icon-size-lg color-green"></i>
							<i ng-if="acuerdo.owner != currentUser._id" class="ion-ios-circle-filled icon-size-lg color-yellow"></i>
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{acuerdo.fechaInicio|date:"dd-MM-yyyy HH:mm"}} </span>
            </div>
            
          </div>
      	</a>
      </li>
    </ul>
	  <div class="divider-title">{{ 'HOY' | translate }}</div>
    <ul class="timeline" id="hoy" ng-show="ac.fhoy">
      <li ng-repeat="acuerdo in ac.hoy | orderBy:'fecha'">
      	<a ng-click="ac.detalleAcuerdo(acuerdo)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-yellow timeline-icon">
            <i class="fa fa-check text-white" aria-hidden="true"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light" style="margin-bottom: 5px;">{{acuerdo.titulo}}</h4>
            <p class="descripcionLista font-light">{{acuerdo.descripcion}}</p>	            
            <div class="timeline-stats">
              <i class="ion-person-stalker"></i> {{acuerdo.responsables.length}}
              <i class="ion-android-people"></i> {{acuerdo.seguidores.length}}
              <i ng-if="acuerdo.owner == currentUser._id" class="ion-ios-circle-filled icon-size-lg color-green"></i>
							<i ng-if="acuerdo.owner != currentUser._id" class="ion-ios-circle-filled icon-size-lg color-yellow"></i>
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{acuerdo.fechaInicio|date:"HH:mm"}} </span>
            </div>
            
          </div>
      	</a>
      </li>
    </ul>
    <div class="divider-title">{{ 'SEMANA' | translate }}</div>
    <ul class="timeline" id="semana" ng-show="ac.fsemana">
      <li ng-repeat="acuerdo in ac.hoy | orderBy:'fecha'">
        <a ng-click="ac.detalleAcuerdo(acuerdo)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-green timeline-icon">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light" style="margin-bottom: 5px;">{{acuerdo.titulo}}</h4>
            <p class="descripcionLista font-light">{{acuerdo.descripcion}}</p>
            <div class="timeline-stats">
              <i class="ion-person-stalker"></i> {{acuerdo.responsables.length}}
              <i class="ion-android-people"></i> {{acuerdo.seguidores.length}}
              <i ng-if="acuerdo.owner == currentUser._id" class="ion-ios-circle-filled icon-size-lg color-green"></i>
							<i ng-if="acuerdo.owner != currentUser._id" class="ion-ios-circle-filled icon-size-lg color-yellow"></i>
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{acuerdo.fechaInicio|date:"dd-MM-yyyy HH:mm"}} </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="divider-title">{{ 'MES' | translate }}</div>
    <ul class="timeline" id="mes" ng-show="ac.fmes">
      <li ng-repeat="acuerdo in ac.mes | orderBy:'fecha'">
        <a ng-click="ac.detalleAcuerdo(acuerdo)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-blue timeline-icon">
            <i class="fa fa-calendar"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light" style="margin-bottom: 5px;">{{acuerdo.titulo}}</h4>
            <p class="descripcionLista font-light">{{acuerdo.descripcion}}</p>
            <div class="timeline-stats">
              <i class="ion-person-stalker"></i> {{acuerdo.responsables.length}}
              <i class="ion-android-people"></i> {{acuerdo.seguidores.length}}
              <i ng-if="acuerdo.owner == currentUser._id" class="ion-ios-circle-filled icon-size-lg color-green"></i>
							<i ng-if="acuerdo.owner != currentUser._id" class="ion-ios-circle-filled icon-size-lg color-yellow"></i>
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{acuerdo.fechaInicio|date:"dd-MM-yyyy HH:mm"}} </span>
            </div>
          </div>
        </a>
      </li>        
    </ul>
    <div class="divider-title">{{ 'FUTURO' | translate }}</div>
    <ul class="timeline" id="futuro" ng-show="ac.ffuturo">
      <li ng-repeat="acuerdo in ac.futuro | orderBy:'fecha'">
        <a ng-click="ac.detalleAcuerdo(acuerdo)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-red timeline-icon">
            <i class="fa fa-list"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light" style="margin-bottom: 5px;">{{acuerdo.titulo}}</h4>
            <p class="descripcionLista font-light">{{acuerdo.descripcion}}</p>
            <div class="timeline-stats">
              <i class="ion-person-stalker"></i> {{acuerdo.responsables.length}}
              <i class="ion-android-people"></i> {{acuerdo.seguidores.length}}
              <i ng-if="acuerdo.owner == currentUser._id" class="ion-ios-circle-filled icon-size-lg color-green"></i>
							<i ng-if="acuerdo.owner != currentUser._id" class="ion-ios-circle-filled icon-size-lg color-yellow"></i>
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{acuerdo.fechaInicio|date:"dd-MM-yyyy HH:mm"}} </span>
            </div>
          </div>
        </a>
      </li>        
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #82e79d;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>