<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='epc.actualizar()'></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<span class="font-light">{{ 'MIPERFIL' | translate }}</span>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'NOMBRE' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='epc.usuarioActual.profile.name'>
				</label>
			</label>
      <label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'PUESTO' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='epc.usuarioActual.profile.puesto'>
				</label>
			</label>
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'TELEFONO' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='epc.usuarioActual.profile.telefono'>
				</label>
			</label>
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'CIUDAD' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='epc.usuarioActual.profile.cuidad'>
				</label>
			</label>
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'ESTADO' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='epc.usuarioActual.profile.estado'>
				</label>
			</label>
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'PAIS' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='epc.usuarioActual.profile.pais'>
				</label>
			</label>
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar-header {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>