<ion-view class="layouts-view">
  <ion-nav-title>
    <span class="font-light">{{ 'PREFERENCIASAPLICACION' | translate}}</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='prc.guardar()'></button>
	</ion-nav-buttons>
  <ion-content>
    {{ 'PREFERENCIASAPLICACION' | translate}}
  </ion-content>
</ion-view>
<style>
	.bar-header {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>