<ion-view class="layouts-view">
  <ion-nav-title>
    <span class="font-light">{{ 'PREFERENCIASREUNION' | translate}}</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='prc.guardar()'></button>
	</ion-nav-buttons>
  <ion-content>
    <div class="list">
	    <label class="item item-input">
        <span class="input-label">{{ 'DURACION' | translate }}</span>
        <input type="time" ng-model="prc.preferencia.duracionReunion">
      </label>
      <label class="item item-input-inset item-stacked-label">
        <span class="input-label">{{ 'PRIMERA' | translate }}</span>
        <input type="number" ng-model="prc.preferencia.numeroPrimeraAlerta" style="width: 50px;">
        <select ng-model="prc.preferencia.tiempoPrimeraAlerta">
		      <option value="1">{{ 'MINUTOS' | translate }}</option>
		      <option value="2">{{ 'HORAS' | translate }}</option>
		      <option value="3">{{ 'DIAS' | translate }}</option>
		    </select>
		    <div class="button">
				  <button value="antes" class="button button-small" ng-class="prc.preferencia.lapsoPrimeraAlerta == 'Antes' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoPrimeraAlerta" ng-click="prc.preferencia.lapsoPrimeraAlerta = 'Antes'">{{ 'ANTES' | translate }}</button>
				  <button value="despues" class="button button-small" ng-class="prc.preferencia.lapsoPrimeraAlerta == 'Despues' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoPrimeraAlerta" ng-click="prc.preferencia.lapsoPrimeraAlerta = 'Despues'">{{ 'DESPUES' | translate }}</button>
				</div>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{ 'SEGUNDA' | translate }}</span>
        <label class="item-input-wrapper">
	        <input type="number" ng-model="prc.preferencia.numeroSegundaAlerta" style="width: 20%; float: left;">
	        <select ng-model="prc.preferencia.tiempoSegundaAlerta" style="width: 50%">
			      <option value="1">{{ 'MINUTOS' | translate }}</option>
			      <option value="2">{{ 'HORAS' | translate }}</option>
			      <option value="3">{{ 'DIAS' | translate }}</option>
			    </select>
			    <div class="button">
					  <button value="antes" class="button button-small" ng-class="prc.preferencia.lapsoSegundaAlerta == 'Antes' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoSegundaAlerta" ng-click="prc.preferencia.lapsoSegundaAlerta = 'Antes'">{{ 'ANTES' | translate }}</button>
					  <button value="despues" class="button button-small" ng-class="prc.preferencia.lapsoSegundaAlerta == 'Despues' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoSegundaAlerta" ng-click="prc.preferencia.lapsoSegundaAlerta = 'Despues'">{{ 'DESPUES' | translate }}</button>
					</div>
        </label>
      </label>
      <label class="item">
		    <span class="input-label">{{ 'LEYENDA' | translate }}</span>
		  </label>
      <div class="item item-input item-floating-label">
	      <span class="input-label">{{ 'REPROGRAMACION' | translate }}</span>
	      <textarea type="text" placeholder="Reprogramación" ng-model="prc.preferencia.plantillaCorreoReprogramar" rows="3" style="width: 100%; background-color: transparent;"></textarea>
		  </div>
		  <div class="item item-input item-floating-label">
	      <span class="input-label">{{ 'CANCELACION' | translate }}</span>
	      <textarea type="text" placeholder="Cancelación" ng-model="prc.preferencia.plantillaCorreoCancelar" rows="3" style="width: 100%; background-color: transparent;"></textarea>
		  </div>
		  <div class="item item-input item-floating-label">
	      <span class="input-label">{{ 'ELIMINAR' | translate }}</span>
	      <textarea type="text" placeholder="Eliminar" ng-model="prc.preferencia.plantillaCorreoEliminar" rows="3" style="width: 100%; background-color: transparent;"></textarea>
		  </div>
    </div>
    {{ 'PREFERENCIASREUNION' | translate}}
  </ion-content>
</ion-view>